In [13]:
import time
from getpass import getpass
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException,\
                    ElementClickInterceptedException, ElementNotInteractableException,TimeoutException

# Login and search info ...
email = input("Enter your Email: ")
# getpass module for make entering password secure ...
password = getpass("Enter your password: ")
category_search = input("Enter The Category: ")
Location_search = input("Enter The Location: ")

PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)
driver.maximize_window()

ignored_exceptions=(NoSuchElementException,StaleElementReferenceException,\
                    ElementClickInterceptedException, ElementNotInteractableException,TimeoutException)

driver.get("https://www.linkedin.com/")
driver.implicitly_wait(10)

# Send the login and Search info
driver.find_element(By.XPATH,'//input[@autocomplete="username"]').send_keys(email)
driver.find_element(By.XPATH,'//input[@autocomplete="current-password"]').send_keys(password)
driver.find_element(By.XPATH,'//button[@class="sign-in-form__submit-button"]').click()
time.sleep(5)
category = WebDriverWait(driver, 15,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, '//input[@class="search-global-typeahead__input always-show-placeholder"]')))

category.send_keys(category_search)
time.sleep(3)
category.send_keys(Keys.ENTER)
time.sleep(3)
WebDriverWait(driver, 30,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, '//button[@aria-label="Companies"]'))).click()
WebDriverWait(driver, 30,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, '//button[text()="Locations"]'))).click()
WebDriverWait(driver, 30,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, '//input[@placeholder="Add a location"]'))).send_keys(Location_search)
time.sleep(3)
location = WebDriverWait(driver, 15,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, '(//div[@class="search-typeahead-v2__hit search-typeahead-v2__hit--autocomplete"])[1]//span//span')))
location.click()
submit_filter = WebDriverWait(driver, 15,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, '(//button[@data-control-name="filter_show_results"])[1]')))
submit_filter.click()
time.sleep(3)

# Get first 100 links at Category

company_link = []

count = 0
while count < 2:
    time.sleep(5)
    names_links = driver.find_elements(By.XPATH,'//span[@class="entity-result__title-text t-16"]//a')
    for company in names_links :
        company_link.append(company.get_attribute('href'))
    time.sleep(3)
    driver.execute_script("window.scrollBy(0,document.body.scrollHeight)")
    try :
        WebDriverWait(driver, 15,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, '//span[text()="Next"]'))).click()
    except ignored_exceptions:
        break
    count+=1

Enter your Email: mothfr12@gmail.com
Enter your password: ········
Enter The Category: food
Enter The Location: United Arab Emirates

<ipython-input-13-3251fb856c4e>:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [14]:
# Iterate in links to scrape the data ...
company_data = []
for company in company_link:
    time.sleep(3)
    driver.get(company)
    WebDriverWait(driver, 30,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, '//a[text()="About"]'))).click()
    time.sleep(2)
    name = WebDriverWait(driver, 30,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, '(//span[@dir="ltr"])[1]')))
    
    data = driver.find_elements(By.XPATH,'//dd')
    titles = driver.find_elements(By.XPATH,'//dt')
    
    data_list = []
    data_titels = []
    for title in range(len(titles)):
        xpath_title = '//dt[{}]'.format(title+1)
        title_text = WebDriverWait(driver, 30,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, xpath_title))).text
        data_titels.append(title_text)
    for element in range(len(data)):
        xpath_data = '//dd[{}]'.format(element+1)
        data_text = WebDriverWait(driver, 30,ignored_exceptions=ignored_exceptions)\
            .until(EC.presence_of_element_located\
                ((By.XPATH, xpath_data))).text
        data_list.append(data_text)
    data_list = [ x for x in data_list if "on LinkedIn" not in x ]
    res = {}
    for key in data_titels:
        res["Name"] = name.text
        res["Category"] = "Food"
        for value in data_list:
            res[key] = value
            data_list.remove(value)
            break
    company_data.append(res)

In [15]:
# Convert the data to DataFrame and.. So it can be stored on Rleational or None Relational Databases
import pandas as pd
df = pd.DataFrame(company_data)
df

,Name,Category,Website,Company size,Headquarters,Founded,Specialties,Phone
0,Food People,Food,http://www.foodpeople.ae,11-50 employees,"Dubai, Dubai",2017,"recruitment, food, agriculture, qsr, supply ch...",NaN
1,Food Fund International,Food,http://foodfundint.com/,"501-1,000 employees",NaN,NaN,"Hospitality Development, Restaurant Consultanc...",NaN
2,Food To Go ME,Food,http://www.foodtogome.com,51-200 employees,"Dubai, Dubai",2018,"Restaurant, kitchen innovation, Food & beverag...",NaN
3,Food Quest Restaurants Management LLC,Food,http://www.foodquest.ae,201-500 employees,NaN,2013,"Restaurants, Food and Beverage, Restaurant Fra...",NaN
4,Food Empire,Food,http://www.foodempire.com,"1,001-5,000 employees",NaN,1982,"Instant Beverages, Snacks, Frozen Food, Coffee...",NaN
...,...,...,...,...,...,...,...,...
105,800 Food Restaurants Management L.L.C.,Food,http://www.800food.com,51-200 employees,NaN,2020,NaN,043707080\nPhone number is 043707080
106,ARSTE Food Ingredients,Food,https://arstefi.com/,11-50 employees,NaN,2015,"Dairy ingredients, Beverage Ingredients , Bake...",+966505375870\nPhone number is +966505375870
107,EAT ROOTED FOOD CO,Food,https://www.rootedfood.co.uk/,51-200 employees,"Dubai, Dubai",2016,"Healthy Snacks, Gluten Free, Cholesterol Free,...",+971551005286\nPhone number is +971551005286
108,Novadim Food Technology,Food,http://www.novadimft.com,11-50 employees,NaN,1994,NaN,+ (961) 70 351216\nPhone number is + (961) 70 ...
109,Anchor Food Professionals Central Asia & MEA,Food,https://www.anchorfoodprofessionals.com/me/en....,201-500 employees,"Dubai, Dubai",2001,"dairy, foodservice, foodservice business solut...",+971 4 338 8549\nPhone number is +971 4 338 8549

In [16]:
# Some Data Analysis
df.groupby(by="Company size", dropna=False).count()

,Name,Category,Website,Headquarters,Founded,Specialties,Phone
Company size,,,,,,,
0-1 employees,1,1,1,1,1,1,0
"1,001-5,000 employees",9,9,9,5,5,5,2
11-50 employees,28,28,25,16,22,13,10
2-10 employees,21,21,21,9,17,15,10
201-500 employees,18,18,17,9,16,12,7
"5,001-10,000 employees",2,2,1,2,1,0,0
"501-1,000 employees",9,9,9,7,4,3,2
51-200 employees,22,22,20,14,18,14,6